form.gifv-configure .fieldset-wrapper {
  overflow: auto;
}
form.gifv-configure table.table-select-processed td.entry-cross {
  width: 10px;
  padding: 8px 5px;
}
form.gifv-configure table.table-select-processed td.entry-cross a.tabledrag-handle {
  margin-left: -2px;
}
@media (min-width: 1008px) {
  body:not(.page-node-edit) form.gifv-configure table.table-select-processed, .tabledrag-toggle-weight-wrapper {
    max-width: 35%;
  }
  body:not(.page-node-edit) form.gifv-configure table.table-select-processed {
    float: left;
  }
  body:not(.page-node-edit) form.gifv-configure table.table-select-processed ~ fieldset {
    width: auto;
    margin-left: 36%;
    margin-top: 0;
  }
}
